/* Global */
*{
    padding: 0;
    margin: 0;
    clear: both;
    outline: none !important;
    color: black;
    background-color: rgb(187, 94, 31);
    font-family: sans-serif;
}

html{
    background-color: #f3f5f6;
    background-image: url("background.jpg");
}

main{
    max-height: 900px;
    max-width: 500px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid orangered;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgb(165, 33, 33);
}

#message-container,
#controls{
    border-right: 20px solid #121212;
    border-left: 20px solid #121212;
}

#input-splitter{
    width: calc(100% - 40px);
    margin: -2px auto 0px auto;
    border-top: 2px solid rgb(165, 33, 33);
    position: relative;
}

/* Messages */
#message-container{
    height: calc(100% - 200px);
}
#messages{
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    max-height: 100%;
    min-height: 50px;
    overflow-y: auto;
}
#messages li{
    width: 100%;
    list-style: none;
    margin-bottom: 5px;
}
#messages li p{
    margin: 0;
    max-width: 60%;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    text-align: left;
    position: relative;
}
#messages li p::before,
#messages li p::after{
    content: '';
    position: absolute;
}
#messages li p::before{
    width: 10px;
    height: 10px;
    bottom: -5px;
    transform: rotate(45deg);
}
#messages li p::after{
    width: 15px;
    height: 7px;
    bottom: -7px;
    
}

.from-server p{
    color: white;
    background-color: rgb(8, 31, 134);
    border-bottom-left-radius: 0 !important;
}
.from-server p::before{
    left: -5px;
    
}
.from-server p::after{
    left: -7px;
}
.from-user{
    text-align: right;
}
.from-user p{
    color: black;
    background-color: rgb(5, 143, 23);
    border-bottom-right-radius: 0 !important;
}
.from-user p::before{
    right: -5px;
   
}
.from-user p::after{
    right: -7px;
}

/* Controls */
#controls{
    height: 40px;
    width: 100%;
}

#send{
    border: none;
    border-left: 2px solid rgb(165, 33, 33);
    height: 100%;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    position: relative;
    z-index: 1;
}
#send::after{
    background: #d1cbcb;
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    transition: width 0.3s;
}
#send:hover::after{
    width: 100%;
}
#send .fa-paper-plane{
    background: none;
}

#msg{
    width: calc(100% - 43px);
    height: 100%;
    border: none;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
}

#clear{
    position: absolute;
    top: 90px;
    left: 20px;
    border: 1px solid black;
    padding: 2px 5px;
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 25px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1;
}
#clear:hover{
    width: 68px;
}

/* Phone top & bottom */
#phone-top,
#phone-bottom{
    height: 80px;
    background-color: #121212;
}

#phone-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
#phone-top::before,
#phone-top::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#phone-top::before{
    width: 30%;
    height: 20px;
    left: 35%;
    border-radius: 10px;
    background-color: black;
}
#phone-top::after{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 20%;
    border: 8px solid black;
    background-color: #1a1a1a;
}

#phone-bottom{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
